@import url("alp/yui-reset.css");
@import url("alp/yui-font.css");
@import url("alp/yui-grid.css");
@import url("alp/yui-base.css");

@import url("alp/common.css");
@import url("alp/link-sky.css");
@import url("alp/facebox.css");
@import url("nicejform/niceforms-default.css");

html{ background:#CFE1ED }
body{ background:#CFE1ED url(/im/v1/bg-top.gif) repeat-x top; padding-top:10px; font-size:12px }
table td{ border:none; }

hr.dashed{ height:1px; border:none; border-bottom:1px dashed #ccc; margin:5px; }

#hd{ background:#fff; background:url(/im/v1/top.gif) repeat-x left top; height:80px; overflow:hidden; }
.hd-r{ background:url(/im/v1/top.gif) repeat-x right top; height:80px; }
#bd{ background:#fff; border-right:1px solid #A6C2D6; padding:0 15px 15px 15px;  }
#ft{ margin-top:20px; color:#83ACCA; }
#ft a{ font-weight:bold; color:#83ACCA;  }
#ft a:hover{ color:#3D6C8E }
#ft-l{ background:#fff url(/im/v1/footer.gif) repeat-x left bottom; height:9px; font-size:5px; width:50%; float:left; clean:left; }
#ft-r{ background:#fff url(/im/v1/footer.gif) repeat-x right bottom; height:9px; font-size:5px; width:50%; float:left }

.head40{ background:url(/im/v1/head_bg.gif) no-repeat; height:60px; width:60px; }
.head80{ background:url(/im/v1/head_80_bg.gif) no-repeat; height:120px; width:120px; }

.section{ padding:5px 8px; background:#E2DFF9; border:1px solid #BCB5F1; border-left:3px solid #BCB5F1; color:#336; margin:0 0 10px 0; }
.valid_tip{ color:red; font-size:12px; }
.section-sub{ background:#F3F3F3; padding:3px; }
.section-u{ background:#F3F3F3; padding:5px 8px; border:1px solid #ccc; border-left:3px solid #ccc;margin:0 0 10px 0; color:#336; }

.table-dashed td{ border-bottom:1px dashed #eee; }

.mods .yui-u{ padding:1px 0; }

.quote{ background:#FFFFDF; padding:2px 8px; border:1px dashed #D4DFA7; margin-bottom:5px }

.memo{ background:#eee; padding:5px; border:1px dashed #ccc; margin-bottom:8px; }

.cccborder{ border:1px solid #ccc; }

/* pagination style */
.pg{ text-align:center; clear:both; float:none; margin:10px; }
.pg a{ background:#f5f5f5; padding:5px; margin-left:5px; }
.pg b{ padding:5px; background:#666; color:#fff; margin-left:5px; }

/* default layout style */
.greybox{ color:#666; background:#eee url(/im/v1/grey-bottom.jpg) no-repeat bottom; width:270px; overflow:hidden; padding-bottom:20px; }
.greybox-top{ background:url(/im/v1/grey-top.jpg) no-repeat; width:270px; height:12px; }
.yui-b .greybox a{ color:#5D7115; }

/* tab style */
.tb-box{ height:29px; overflow:hidden; padding-left:10px; }
.tb-on,.tb-of,.tb-rbg{ display:block; float:left; height:29px; }
.tb-on,.tb-of{ font-size:14px; overflow:hidden; text-align:center; line-height:200%; margin-left:-5px; }
.tb-rbg{ width:5px; background:url(/im/v1/tb_rbg.gif); }
.tb-on{ padding:0 18px; background:url(/im/v1/tb_on.gif) left top; }
.tb-of{ padding:0 18px; background:url(/im/v1/tb_of.gif) left top; }
a.tb-on{ color:#333; }

/* temp style */
.tp0{ color:#BB3843; }.tp1{ color:#BF6530; }.tp2{ color:#BF8630; }.tp3{ color:#BFA330; }.tp4{ color:#BEBF30; }.tp5{ color:#91A933; }
.tp6{ color:#459435; }.tp7{ color:#357994; }.tp8{ color:#355A94; }.tp9{ color:#3F3594; }.tp10{ color:#6F3594; }.tp11{ color:#94356D; }

/* block btn a */
a.blk:visited:link,a.blk:visited{ display:block; width:140px; padding:3px; border-bottom:1px solid #eee; text-decoration:none;  }
a.blk:hover{ border-bottom:1px solid #999; }

